<!DOCTYPE html>
<html>
<head>
  <title>PHunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta property="og:url"                content="<%= request.original_url %>">
  <meta property="fb:app_id"             content="1417815691569028" />
  <meta property="og:title"              content="<%= @problem.title %>" />
  <meta property="og:type"               content="article" />
  <meta property="og:published_time"     content="<%= @problem.created_at.strftime('%Y-%m-%d %H:%M') %>" />
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
<!-- Facebook SDK -->

<script>
window.fbAsyncInit = function() {
    FB.init({
      appId      : '1417815691569028',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<%= yield %>

</body>
</html>
