<!DOCTYPE html>
<html>
<head>
  <title>PHunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="When Great Minds Don’t Think Alike" />
  <meta property="og:description"        content="How much does culture influence creative thinking?" />
  <meta property="fb:app_id"             content="1417815691569028" />

  <%= csrf_meta_tags %>
</head>
<body>
<!-- Facebook SDK -->

<script>
window.fbAsyncInit = function() {
    FB.init({
      appId      : '1417815691569028',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<%= yield %>

</body>
</html>
